@model ECOM.Data.Customers

<div class="tab-pane fade show active" id="membership">
    <h5>Üyelik Bilgileri</h5>
    <form method="post" asp-action="EditMembership" asp-controller="Account" >
        <div class="name-surname">
            <div class="mb-3 w-50">
                <label for="name" class="form-label">Ad</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Ad" value="@Model.Name" required>
            </div>
            <div class="mb-3 w-50">
                <label for="surname" class="form-label">Soyad</label>
                <input type="text" class="form-control" id="surname" name="surname" placeholder="Soyad" value="@Model.Surname" required>
            </div>
        </div>
        <div class="mb-3 birthdate">
            <label for="birthdate" class="form-label">Doğum Tarihi</label>
            @{
                string birthDate = null!;
                if (Model.BirthDate is not null)
                    birthDate = Model.BirthDate.Value.ToString("yyyy-MM-dd");
                <input type="date" class="form-control" id="birthdate" name="birthdate" value="@birthDate" required>
            }
        </div>
        <div class="mb-3 gender">
            <label class="form-label">Cinsiyet</label>
            <div class="d-flex gap-3">              
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="male" value="male" checked ="@Model.Gender == true" required>
                    <label class="form-check-label" for="male">
                        Erkek
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="female" value="female" checked ="@Model.Gender == false" required>
                    <label class="form-check-label" for="female">
                        Kadın
                    </label>
                </div>
            </div>
        </div>
        <input type="hidden" name="customerId" value="@Model.CustomerId"/>
        <button class="btn btn-primary" type="submit">Güncelle</button>
    </form>
</div>